.button-big{
    padding: 5px 30px;
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 25px;
    height: 40px;
}












/* debug */
main{
    display: flex;
    background-color: blue;
}
#contenitore{
    width: calc(100% - 200px);
    background-color: rgb(20,25,34);
    overflow-y: auto;
    height: calc(100vh - 100px);
    padding-top: 120px;
    color: white;
}
#testata{
    height: 100px;
    width: calc(100% - 200px);
    background-color: rgba(8,11,18,.5);
    position: fixed;
    top: 0;
    right: 0;
    text-align: end;
    z-index: 999;
}
#testata div{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    margin: 0 20px;
}
#nav-esterno ul,
#nav-interno ul{
    list-style-type: none;
}
#nav-interno ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
#nav-interno li{
    padding: 0 10px;
    font-size: 15px;
    color: rgb(163,163,163);
}
.border{
    width: 50%;
    height: 5px;
    border-bottom: 3px solid rgb(173,255,47);
    margin: auto;
}
#nav-esterno{
    display: flex;
    position: relative;
    height: calc(100vh - 100px);
    min-height: 120px;
    width: 200px;
    background-color: black;
    color: white;
}
#div-icone{
    display: none;
}
#mini-nav{
    border-left: 3px solid rgb(173,255,47);
    border-image: linear-gradient(to bottom,rgb(173,255,47) 33%, transparent 33%) 1;

    /* poi dovrebbe cambiare in % con hover per farsi che quando uno seleziona cerca o librerira il bordo verde shifti sul medesimo */
}


#logo{
    height: 100px;
    display: flex;
}
#nav-esterno img{
    width: 10%;
}
#logo img{
    width: 70%;
}
#nav-esterno li{
    padding: 5px
}
.overflow-ul{
    overflow: auto;
    position: absolute;
}
.overflow-ul a{
    color: rgb(163,163,163);
}

.overflow-ul i{
    font-size: 30px;
    padding-right: 5px;
}


.row{
    width: 100%;
}
div.row div{
    text-align: center;
}
.col-lg-2{
    padding: 0 15px;  
}
h2{
    font-size: 1.5em;
}
h4{
    font-size: 10px;
    padding: 8px 0;
}
.div-titoli{
    padding: 25px 15px;
}
.div-titoli span, h5{
    color: rgb(163,163,163);
    font-size: 10px;
}
.col-3, .col-5{
    border: 1px solid black;
}

.box{
    width: 100%;
}


div#contenitore img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
#last-row-contenitore img{
    border-radius: 50%;
}

footer{
    height: 100px;
    width: 100%;
    background-color: gray;
}
footer .row{
    height: 100%;
}

footer .row .row{
    height: 50%
}


@media screen and (max-width: 740px){
    #nav-esterno{
        width: 50px;
    }
    #nav-esterno ul{
        display: none;
    }
    #testata{
        width: calc(100% - 50px);
    }
    #contenitore{
        width: calc(100% - 50px);
        background-color: rgb(20,25,34);
        overflow-y: auto;
        height: calc(100vh - 100px);
        padding-top: 120px;
        color: white;
    }
    #div-icone{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 13px;
    }
    #div-icone img{
        display: block;
        width: 100%;
        color: white;
        padding: 5px 0;
    }
} 

