















/* debug */
main{
    display: flex;
    background-color: blue;
}
#contenitore{
    width: calc(100% - 200px);
    background-color: brown;
    overflow-y: auto;
    height: calc(100vh - 100px);
    padding-top: 120px;
}
#testata{
    height: 100px;
    width: calc(100% - 200px);
    background-color: aqua;
    filter: opacity(50%);
    position: fixed;
    top: 0;
    right: 0;
}
#nav-esterno,
#nav-interno ul{
    display: flex;
    justify-content: center;
}
#nav-interno ul{
    list-style-type: none;
}
#nav-interno li{
    padding: 0 10px;
}
#nav-esterno{
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 100px);
    min-height: 120px;
    width: 200px;
    background-color: black;
}

footer{
    height: 100px;
    width: 100%;
    min-width: 200px;
    background-color: gray;
}

.row{
    background-color: blueviolet;
    width: 100%;

}
.col-2{
    margin: 5px;
    border: 1px solid black;
    flex-basis: calc((100% / 12) * 2);
    max-width: 150px;

    min-width: 150px;
}
.box{
    background-color: cadetblue;
    height: 150px;
    width: 100%;
}
